.net{
    margin:0;  
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
    opacity: 0.1;

}
body{
    background-color: black;
    color: white;
    
}
.main{
    background-image:radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)), url("https://assets.nflxext.com/ffe/siteui/vlv3/fc164b4b-f085-44ee-bb7f-ec7df8539eff/d23a1608-7d90-4da1-93d6-bae2fe60a69b/IN-en-20230814-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    height: 100vh;
    width:100%; 
    position: relative;
    background-color: black;
    background-position: center;
    
}
  nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 2vw;
    padding-right: 4vw;


}
.logo{
    width: 150px;
    cursor: pointer;
    margin: 5px;
    padding-left: 20px;
}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color:#fff;
    padding:7px 30px;
    font-size:12px;
    border-radius: 4px;
    margin-left:10px ;
    cursor: pointer;
}
.b1{
    background: transparent;
    border:1px solid #fff;
    padding: 7px 10px;
}
.matter{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
    
}
.matter h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}
.matter h3{
    font-weight: 600;
    margin-bottom: 20px;

}
.email-signup {
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background-color: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size:16px ;
    cursor: pointer;
    padding: 15px 30px;
}
.line1{
    padding: 50px 12%;
    font-size: 22px;
    text-align: left;
}
.row{
    display:flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px  0%;

}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col-img{
    display:block;
    width: 90%;
    margin: auto;
}
.line1 h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.que{
    padding: 10px 12%;
    text-align: center;
    font-size: 20px;
}
.que h2{
    font-weight: 500;
    font-size: 40px;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after
{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;

}
.accordion input[type="radio"]:checked+ label+ .content{
    max-height: 600px;
    padding:  30px 20px;

}
.accordion input[type="radio"]:checked+ label::after{
    transform: rotate(135deg);
}
.que .email-signup{
    max-width: 600px;
    margin: 20px auto 60px ;

}
.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;

}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}
.footer .language-btn{
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}
.copyright{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;

}
  